{{ attach_library('<%= themeName %>/<%= dashed %>') }}

{# Include a component template outside of templates directory #}
{#% include "@<%= themeName %>_components/<%= dashed %>/<%= dashed %>.twig" %#}

<section class="<%= dashed %>">
  <h2 class="<%= dashed %>__heading">{{ heading }}</h2>
  {% for item in items %}
  <article class="<%= dashed %>__item">
    <h3>{{ item.title }}</h3>
    <p>{{ item.desc }}</p>
  </article>
  {% endfor %}
</section>
