/* SASS extends */

%clearfix {
  &::before,
  &::after {
    display: table;
    content: ' ';
  }

  &::after {
    clear: both;
  }
}

%link-hover {
  transition: color ($transition-time / 2);
  text-decoration: none;
  color: $link-hover-color;
}

%button {
  display: inline-block;
  box-sizing: border-box;
  height: $input-height;
  padding: $input-padding ($input-padding * 4);
  border: 1px solid $body-color;
  border-radius: $input-radius;
  cursor: pointer;
  transition: all $transition-time;
  line-height: $input-line-height;
  text-decoration: none;
  color: $body-background-color;
  background: $body-color;

  &:hover,
  &:active {
    transition: all ($transition-time / 2);
    text-decoration: none;
    color: $body-color;
    background: $link-color;
  }

  &[disabled],
  &.disabled {
    opacity: $disabled-opacity;
    cursor: default;
    color: $body-background-color;
    background: $body-color;
  }
}

%ellipsis {
  /* Suitable only for single line */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
