@import '../_sass/_init.scss';

// Content
// 
// Markup:
// <p>Regular paragraph</p>
// <p style="font-style: italic;">italic</p>
// <p style="font-weight: 700;">bold</p>
// <p style="font-style: italic; font-weight: 700;">bold italic</p>
// <label>Label</label>
//
// Style guide: Typography.content

html,
body {
  font-family: 'HelveticaNeue', 'Arial', sans-serif;
  font-size: $font-normal; // 16px
  line-height: 1.5;
  color: $body-color;
}

// Headers
// 
// Markup:
//   <h1>H1 title</h1>
//   <h2>H2 title</h2>
//   <h3>H3 title</h3>
//   <h4>H4 title</h4>
//   <h5>H5 title</h5>
//   <h6>H6 title</h6>
//
// Style guide: Typography.headers


h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1em;
  font-weight: 700;
}

h1,
%header1 {
  font-size: 3.75rem; // 60px
  font-weight: 700;
  line-height: 1; // 60px
}

h2,
%header2 {
  font-size: 2.25rem; // 36px
  line-height: 1.17; // 42.1167px
}

h3,
%header3 {
  font-size: 1.5rem; // 24px
  line-height: 1.33; // 31.9167px
}

h4,
%header4 {
  font-size: 1.312rem; // 21px
  font-weight: 700;
  line-height: 1.43; // 30.0333px
}

h5,
%header5 {
  font-size: 1rem; // 16px
  line-height: 1.375; // 22px
}

h6,
%header6 {
  font-size: .875rem; // 14px
  line-height: 1.429; // 20px
}

label {
  font-size: .812rem;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}
