@import '../_sass/_init.scss';

// Default values
//
// Style guide: Defaults

html {
  box-sizing: border-box;
  height: 100%;
}

* {
  box-sizing: inherit;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}

body {
  min-height: 100%;
  margin: 0; /* Remove the margin in all browsers (opinionated). */
  font-size: $base-font;
  line-height: 1.5;
  color: $body-color;
  background-color: $body-background-color;
}

/* Grouping content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main { /* 1 */
  display: block;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace; /* 1 */
  font-size: 1rem; /* 2 */
}

/* Text-level semantics
========================================================================== */

::selection {
  color: $selection-color;
  background: $selection-bg;
}

::-moz-selection {
  color: $selection-color;
  background: $selection-bg;
}

// Link
//
// Markup:
//   <a href="#">Default link</a>
//   <a href="https://google.com" class="link__external">External link</a>
//
// Style guide: Defaults.link
a {
  outline-color: $link-color;
  transition: color $transition-time;
  color: $link-color;
  background-color: transparent; /* Remove the gray background on active links in IE 10. */
  -webkit-text-decoration-skip: objects; /* Remove gaps in links underline in iOS 8+ and Safari 8+. */

  &:hover,
  &:active {
    @extend %link-hover;
  }
}

// Text
//
// Markup:
//  <p>Paragraph content with <small>small</small>, <sub>Sub</sub> and <sup>Sup</sup>  HTML tags.</p>
//
// Style guide: Defaults.text
p {
  margin: 0 0 1rem;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

// Lists
//
// Markup:
//  <ul>
//    <li>Unordered list</li>
//    <li>Unordered list item</li>
//  </uL>
//  <ol>
//    <li>Ordered list</li>
//    <li>Ordered list item</li>
//  </ol>
//  <dl>
//    <dt>Definition list</dt>
//    <dt>Definition list term</dt>
//    <dd>Description details item</dd>
//  </dl>
//
// Style guide: Defaults.lists

/**
 * Unset default list margin and padding because if not
 * we'll have to unset it every. single. time.
 */
ul,
ol,
dl {
  margin: 0;
  padding: 0 0 0 2rem;
}

li {
  margin: 0;
  padding: 0;
}

/* Embedded content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  max-width: 100%;
  height: auto;
  border: 0; /* Remove the border on images inside links in IE 10-. */
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details, /* 1 */
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */

/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

// Ellipsis
//
// Markup:
// <div class="ellipsis" style="width:200px">Class <code>.ellipsis</code> to cut long text and would break the layout.</div>
//
// Style guide Helper classes.ellipsis
.ellipsis {
  @extend %ellipsis;
}


/* Drupal default classes */

.submitted > span {
  opacity: $disabled-opacity;
}

table.sticky-header {
  background: $body-background-color;
}

/* Admin tabs and some buttons */
// Tabs
//
// Markup:
// <nav role="navigation" class="is-collapsible position-container is-horizontal-enabled is-horizontal" aria-labelledby="primary-tabs-title" data-drupal-nav-tabs="">
//   <button class="reset-appearance tabs__tab tabs__trigger" aria-label="Primary tabs display toggle" data-drupal-nav-tabs-trigger="">•••</button>
//   <ul class="tabs primary clearfix" data-drupal-nav-tabs-target="">
//     <li class="tabs__tab"><a href="/recipes/fiery-chili-sauce" data-drupal-link-system-path="node/17">View</a></li>
//     <li class="tabs__tab is-active"><a href="/node/17/edit" data-drupal-link-system-path="node/17/edit">Edit<span class="visually-hidden">(active tab)</span></a></li>
//     <li class="tabs__tab"><a href="/node/17/delete" data-drupal-link-system-path="node/17/delete">Delete</a></li>
//     <li class="tabs__tab"><a href="/node/17/revisions" data-drupal-link-system-path="node/17/revisions">Revisions</a></li>
//   </ul>
// </nav>
//
// Style guide: Defaults.tabs
.tabs,
.action-links,
.field-collection-view-links,
#main-wrapper .links.inline {
  @extend %clearfix;
  margin: 0;

  li {
    display: inline-block;
    margin: 0 $form-space $form-space 0;
    list-style: none;

    &:last-child {
      margin-right: 0;
    }
  }

  a {
    @extend %button;
  }
}

.tabs {
  padding: 0;
}

.is-horizontal .tabs__trigger {
  display: none;
}

.action-links,
.field-collection-view-links,
#main-wrapper .links.inline {
  padding: $form-space 0 0 0;
}

/* Messages and errors (copied from the original CSS) */

// Messages
//
// Markup:
// <div role="contentinfo" aria-label="Status message" class="messages messages--status">
//   Message content.
// </div>
// <div class="messages messages--warning">
// Message content
// </div>
// <div class="messages messages--error">
// Message content
// <ul class="messages__list">
//  <li class="messages__item">Message item</li>
//  <li class="messages__item">Message item</li>
// </ul>
// </div>
//
// Style guide: Defaults.messages
.messages {
  padding: $form-space;

  ul {
    margin: 0 0 0 $form-space;
    padding: 0;
  }

  p {
    margin: 0;

    + p {
      margin-top: $form-space;
    }
  }
}

.messages + .messages {
  margin-top: $form-space;
}

.messages--status {
  border-color: $messages-ok;
}

.messages--status,
.ok {
  color: $messages-ok;
}

.messages--status,
table tr.ok {
  background-color: $messages-ok-background;
}

.messages--warning {
  border-color: transparent;
  color: $body-color;
}

.messages--warning,
table tr.messages--warning {
  background-color: $messages-warn-background;
}

.messages--error {
  border-color: $messages-error;
  color: $messages-error;
}

.messages--error,
table tr.messages--error {
  background-color: $messages-error-background;
}

.messages--error p.messages--error {
  color: $body-color;
}

// Form status messages
//
// Markup:
//  <div class="js-form-item form-item js-form-type-textfield form-type-textfield">
//   <label for="edit-title-0-value" class="js-form-required form-required">Recipe Name</label>
//   <input class="js-text-full text-full form-text required error" data-drupal-selector="edit-title-0-value" type="text" id="edit-title-0-value" name="title[0][value]" value="" size="60" maxlength="255" placeholder="" required="required" aria-required="true" aria-invalid="true">
//  </div>
//
// Style guide: Forms.messages

input.error,
textarea.error,
select.error,
input[type].error {
  border: 1px solid $messages-error;
  background: $messages-error-background !important;
}

// Visibility classes
//
// Markup:
//   <div class="visible">Visible</div>
//   <div class="visible-mobile">Visible on mobile devices</div>
//   <div class="visible-tablet">Visible on tablets</div>
//   <div class="visible-desktop">Visible on desktop</div>
//
// Style guide: Helper classes.visibility
.visible {
  display: block;
}

.visible-mobile {
  @include media(tablet) {
    display: none;
  }
}

.visible-tablet {
  @include media(desktop) {
    display: none;
  }
}

.visible-desktop {
  @include media-max(desktop) {
    display: none;
  }
}

// End visibility classes

// Common styles
//
// Markup:
//   <main>Mina content wrapper</main>
//   <section class="region">Visible on mobile devices</section>
//
// Style guide: Common.layout

main,
.region {
  display: block;
  max-width: $max-width;
  margin: 0 auto;
}
